**Problem 18**

Print out a neatly formatted multiplication table, up to 12 x 12. You should do this by constructing a string. For full credit, each column should be right-justified and your solution should include only comprehensions and lambda functions. Hint: Write a lambda function pads a number with the right number of spaces.

In [10]:
# Function from problem 17 - creates raw table
table = lambda n: [[i*j for i in range(1,n+1)] for j in range(1,n+1)]
t3 = table(3)
t3

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [11]:
# Create a sequence of functions to pad the numbers, 
# one for each level of abstraction
num_digits = lambda s: len(str(s))
num_spaces = lambda pad_amt, num: pad_amt - num_digits(num) 
pad_num = lambda pad_amt, num: num_spaces(pad_amt, num)*" " + str(num)
pad_row = lambda pad_amt, row: [pad_num(pad_amt, num) for num in row]
pad_table = lambda pad_amt, table: [pad_row(pad_amt, row) for row in table]
pad_table(5, t3)

[['    1', '    2', '    3'],
 ['    2', '    4', '    6'],
 ['    3', '    6', '    9']]

In [12]:
# Now a series of functions to join up the rows
join_row = lambda row: "".join(row)
join_rows = lambda rows: [join_row(row) for row in rows]
# The rows of a table need to be on new lines
join_table = lambda table: '\n'.join(join_rows(table))
# Make sure we have more space than the largest number.
pad_amt = lambda num: len(str(num**2)) + 2
right_just_table = lambda n: join_table(pad_table(pad_amt(n),table(n)))
print(right_just_table(12))

    1    2    3    4    5    6    7    8    9   10   11   12
    2    4    6    8   10   12   14   16   18   20   22   24
    3    6    9   12   15   18   21   24   27   30   33   36
    4    8   12   16   20   24   28   32   36   40   44   48
    5   10   15   20   25   30   35   40   45   50   55   60
    6   12   18   24   30   36   42   48   54   60   66   72
    7   14   21   28   35   42   49   56   63   70   77   84
    8   16   24   32   40   48   56   64   72   80   88   96
    9   18   27   36   45   54   63   72   81   90   99  108
   10   20   30   40   50   60   70   80   90  100  110  120
   11   22   33   44   55   66   77   88   99  110  121  132
   12   24   36   48   60   72   84   96  108  120  132  144

**Problem 19**

Use list comprehensions to filter the hours table to include only managers. In SQL this would be performed using SELECT and WHERE. Hint: Start by creating a list of the names of all managers. .. actex:: select-where

In [14]:
hours = [['Alice', 43],
         ['Bob', 37], 
         ['Fred', 15]]

titles = [['Alice', 'Manager'], 
          ['Betty', 'Consultant'], 
          ['Bob', 'Assistant']]

In [15]:
# We need to use the titles table to filter the hours table.  
# Start by creating alist of name for managers
from toolz import get
managers = [get(0,r) for r in titles if get(1, r) == 'Manager']
managers

['Alice']

In [18]:
# Now filter the other table using the name list
manager_hours = [r for r in hours if get(0, r) in managers]
manager_hours

[['Alice', 43]]

In [19]:
# Test condition becomes
assert manager_hours == [['Alice', 43]]

**Problem 20**

Use list comprehensions to decide if the following tables contain a manager that worked at least 40 hours.

In [17]:
# Similar solution to last problem
# We reuse the managers name table from above
# This time filter on both name and the amount of hours.

managers_over_40 = [r for r in hours if get(0, r) in managers and get(1,r) > 40]
# the question is boolean (any over 40) so we can answer with a boolean operation
len(managers_over_40) > 0

True

In [20]:
# Test condition becomes
assert len(managers_over_40) > 0

**Problem 21**

Use list comprehensions to perform a right outer join on the following lists. (using the order the tables are presented, i.e. titles -> left, hours -> right)

In [21]:
# The tables share the same names, so we join on names
# First get the inner join - rows with a common name
inner_join = [(nm1, hrs, ttl) for nm1, hrs in hours for nm2, ttl in titles if nm1 == nm2]
inner_join

[('Alice', 43, 'Manager'), ('Bob', 37, 'Assistant')]

In [30]:
# Now we need to rows from titles for the employees NOT in hours
# start by getting the names of all employees in hours
hrs_names = [get(0, r) for r in hours]
hrs_names

['Alice', 'Bob', 'Fred']

In [23]:
# We put None in the hours slot, as these employess didn't have any hours listed.
right_rows = [(nm, None, ttl) for nm, ttl in titles if nm not in hrs_names]
right_rows

[('Betty', None, 'Consultant')]

In [24]:
# Right outer join is the sum of these two tables.
right_outer_join = inner_join + right_rows
right_outer_join

[('Alice', 43, 'Manager'),
 ('Bob', 37, 'Assistant'),
 ('Betty', None, 'Consultant')]

In [25]:
# To test, we include a sort to deal with different processing orders.
assert sorted(right_outer_join) == sorted([('Alice', 43, 'Manager'),
 ('Bob', 37, 'Assistant'),
 ('Betty', None, 'Consultant')])

**Problem 22**

Use a list comprehension and lambda expression to create a sequence of functions that combine to average two matrices. A complete solution will provide functions for each level of abstraction.

**Levels of Abstraction**
mats have rows
rows have numbers
numbers are numbers (atomic elements, can't be broken down)

In [28]:
# Start with a function for lowest level
# Average numbers.
avg_num = lambda num1, num2: (num1 + num2)/2
avg_num(1,2)

1.5

In [29]:
# Now apply that function at the next level
# Use zip to line up elements of the rows
avg_row = lambda row1, row2: [avg_num(n1, n2) for n1, n2 in zip(row1, row2)]
avg_row([1,1], [3,3])

[2.0, 2.0]

In [26]:
# And move up to the next level, applying the function from the last level
avg_mat = lambda mat1, mat2: [avg_row(r1, r2) for r1, r2 in zip(mat1, mat2)]
avg_mat([[1,1],[2,2]], [[3,3],[4,4]])

[[2.0, 2.0], [3.0, 3.0]]

In [27]:
# test condition becomes
assert avg_mat([[1,1],[2,2]], [[3,3],[4,4]]) == [[2.0, 2.0], [3.0, 3.0]]