# List Comprehensions with Two Sequences

In [1]:
[(i,j) for i in [1,2,3] for j in ["a", "b"]]

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

- inner (right) sequence can depend on outer sequence

In [3]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

- This is different than a zip

In [4]:
[(i,j) for i,j in zip([1,2,3], ["a", "b"])]

[(1, 'a'), (2, 'b')]

## Processing table like SQL

<a src="http://code.activestate.com/recipes/159974-sql-like-set-operations-with-list-comprehension-on/">**Example source** </a>

In [17]:
# agents
# agent_id, agent_famname,agent_name
agents=[[100,'Brown','Jack'],
        [101,'Red','James'],
        [102,'Black','John'],
        [103,'White','Jeff'],
        [104,'White','Jasper']]

# clients
# client_id,agent_id,client_name
clients=[[100,100,'McDonalds'],
         [101,100,'KFC'],
         [102,102,'Burger King'],
         [103,103,'Chinese'],
         [104,999,'French']]

# more agents /agents1
# agent_id, agent_famname,agent_name
agents1=[[200,'Smith','Jack'],
         [101,'Red','James'],
         [201,'Carpenter','John'],
         [103,'White','Jeff']]

### Useful function for working with tables: `get` from `toolz`

* `get(2, row)` is the same as `row[2]`
* `get([2,1], row)` is the same as `[row[2], row[1]]`

In [18]:
from toolz import get
[get(2, row) for row in agents]

['Jack', 'James', 'John', 'Jeff', 'Jasper']

In [19]:
[get([2,1], row) for row in agents]

[('Jack', 'Brown'),
 ('James', 'Red'),
 ('John', 'Black'),
 ('Jeff', 'White'),
 ('Jasper', 'White')]

## Restriction
 **SQL:** 
 
    select * 
    from agents 
    where agent_famname='White'

In [20]:
res=[row for row in agents if get(1, row)=='White']
res

[[103, 'White', 'Jeff'], [104, 'White', 'Jasper']]

## Projection
**SQL:** 

    select agent_name,agent_famname 
    from agents

In [21]:
[get([2,1], row) for row in agents]

[('Jack', 'Brown'),
 ('James', 'Red'),
 ('John', 'Black'),
 ('Jeff', 'White'),
 ('Jasper', 'White')]

## Cross-Product (Cartesian Product)

**SQL:** 

    select * 
    from agents, clients

In [22]:
[r1 + r2 for r1 in agents for r2 in clients]

[[100, 'Brown', 'Jack', 100, 100, 'McDonalds'],
 [100, 'Brown', 'Jack', 101, 100, 'KFC'],
 [100, 'Brown', 'Jack', 102, 102, 'Burger King'],
 [100, 'Brown', 'Jack', 103, 103, 'Chinese'],
 [100, 'Brown', 'Jack', 104, 999, 'French'],
 [101, 'Red', 'James', 100, 100, 'McDonalds'],
 [101, 'Red', 'James', 101, 100, 'KFC'],
 [101, 'Red', 'James', 102, 102, 'Burger King'],
 [101, 'Red', 'James', 103, 103, 'Chinese'],
 [101, 'Red', 'James', 104, 999, 'French'],
 [102, 'Black', 'John', 100, 100, 'McDonalds'],
 [102, 'Black', 'John', 101, 100, 'KFC'],
 [102, 'Black', 'John', 102, 102, 'Burger King'],
 [102, 'Black', 'John', 103, 103, 'Chinese'],
 [102, 'Black', 'John', 104, 999, 'French'],
 [103, 'White', 'Jeff', 100, 100, 'McDonalds'],
 [103, 'White', 'Jeff', 101, 100, 'KFC'],
 [103, 'White', 'Jeff', 102, 102, 'Burger King'],
 [103, 'White', 'Jeff', 103, 103, 'Chinese'],
 [103, 'White', 'Jeff', 104, 999, 'French'],
 [104, 'White', 'Jasper', 100, 100, 'McDonalds'],
 [104, 'White', 'Jasper', 101, 100, 'KFC'],
 [104, 'White', 'Jasper', 102, 102, 'Burger King'],
 [104, 'White', 'Jasper', 103, 103, 'Chinese'],
 [104, 'White', 'Jasper', 104, 999, 'French']]

## union

**SQL:** 

    select * 
    from agents 
    union 
    select * 
    from agents1

In [26]:
res=t1+[r2 for r2 in agents1 if r2 not in agents]
res

[[100, 'Brown', 'Jack'],
 [101, 'Red', 'James'],
 [102, 'Black', 'John'],
 [103, 'White', 'Jeff'],
 [104, 'White', 'Jasper'],
 [200, 'Smith', 'Jack'],
 [201, 'Carpenter', 'John']]